Adafruit-Blinka>=8.18.1
adafruit-circuitpython-bme280>=2.6.19
adafruit-circuitpython-sgp30>=3.0.6
adafruit-circuitpython-shtc3>=1.1.11
adafruit-circuitpython-lps2x>=3.0.1
adafruit-circuitpython-pm25>=2.1.13
adafruit-circuitpython-scd4x>=1.3.8
apscheduler>=3.9.1,<4
paho-mqtt>=1.6.1,<2

